{% extends 'layout.twig' %}

{% block body %}
<div class="row">
  <div class="col-6">
    <canvas id="firstChart" height="200"></canvas>
  </div>
  <div class="col-6">
    <canvas id="thirdChart" height="200"></canvas>
  </div>
  <div class="col-6">
    <canvas id="secondChart" height="200"></canvas>
  </div>
  <div class="col-6">
    <canvas id="fourthChart" height="200"></canvas>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script type="text/javascript">

var data1 = {
    labels: [{{chart1['labels']}}],
    datasets: [
    {% for dataset in chart1['datasets'] %}
      {
        label: '{{dataset['label']}}',
        data: [{{dataset['data']}}],
        backgroundColor: [{{dataset['colors']}}],
        borderWidth: 1
      }
    {% endfor %}
    ]
};

var ctx = document.getElementById("firstChart");
var firstChart = new Chart(ctx, {
    type: 'bar',
    data: data1,
    options: {
      responsive: true,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero:true
            }
          }
        ]
      }
    }
});

var data2 = {
    labels: [{{chart2['labels']}}],
    datasets: [
    {% for dataset in chart2['datasets'] %}
      {
        label: '{{dataset['label']}}',
        data: [{{dataset['data']}}],
        borderWidth: 1
      },
    {% endfor %}
    ]
};

var ctx = document.getElementById("secondChart");
var secondChart = new Chart(ctx, {
    type: 'line',
    data: data2,
    options: {
      responsive: true,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero:true
            }
          }
        ]
      } 
    }
});

var data3 = {
    labels: [{{chart3['labels']}}],
    datasets: [
    {% for dataset in chart3['datasets'] %}
      {
        label: '{{dataset['label']}}',
        data: [{{dataset['data']}}],
        backgroundColor: [{{dataset['colors']}}],
        borderWidth: 1
      },
    {% endfor %}
    ]
};

var ctx = document.getElementById("thirdChart");
var thirdChart = new Chart(ctx, {
    type: 'pie',
    data: data3,
    options: {
      responsive: true
    }
});

</script>
{% endblock %}
